<h1 class="text-center">Write a Story</h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'form' %>
      <%= link_to 'Cancel', root_path %>
    </div>
  </div>
</div>