* {
  margin: 0;
  padding: 0;
}

html,body,#page, header { 
  height:100%;
}
/* FOOTER HEIGHT */
footer { 
  position:absolute;
  bottom:0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font-family-base: 'Montserrat', sans-serif;

$navbar-default-bg: #181842;
$navbar-default-link-color: #ffffff;
$navbar-default-brand-hover-color: #d3e0f7;
$navbar-default-toggle-icon-bar-bg: #ffffff;
$navbar-default-toggle-hover-bg: #d3e0f7;
$navbar-default-link-hover-color: #d3e0f7;
$jumbotron-bg: #d3e0f7;
$btn-default-bg: #ffffff;
$btn-default-color: #181842;
$btn-primary-bg: #181842;
$btn-primary-color: #f4f5f9;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 100px;
  background-color: #ffffff;
}

.navbar-default {
  padding: 0 20px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.2em;
}

#logo {
  font-size: 1.8em;
  font-weight: 600;
}

.jumbotron {
	max-width:2400px;
	min-height: 500px;
	margin: 20px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image:url('chanl-bgd.jpg');
  background-size: cover;
}

.jumbotron h1, .jumbotron .h1 {
  color: #181842;
  font-size: 5em;
  padding-top: 70px;
  font-weight: 600;
}

.jumbotron h3, .jumbotron .h3 {
  color: #181842;
  font-size: 3em;
}

#flash {
  margin-top: -25px;
}


#signup {
  padding: 18px 28px;
}

textarea {
  min-height: 300px;
}

footer a:hover {
  color: #a6172d;
}

footer ul {
  float: right;
  list-style: none;
}

.nav-pills {
  background-color: #181842;
}

.nav-pills > li > a:hover {
  border-radius: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #d3e0f7;
  border-radius: 0;
}

a#by-tab {
  color: #ffffff;
}

a#by-tab:hover {
  color: #181842;
}
